@use "./sass/variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: variables.$font; 
}

.wrapper {
  display: flex;   
  height: 100vh; 
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dragBar {
  width: 4px;
  cursor: col-resize;
  background-color: #252525;  
  transition: background-color 0.3s;
  transition-delay: 0.1s;
}

.dragBar:hover {
  background-color: hsl(204, 100%, 42%);
  width: 4px;
}